---
layout: main.njk
---

<article class="card mt-2">
	<div class="card-header">
		<h1 class="mb-0">{{ title }}</h1>
		<div>
			<small>{{formattedDate}}</small>
		</div>

	</div>
	<div class="card-body">
		<div class="disclaimer">
			This article was written by an AI 🤖. The original article can be found <a href="{{link}}" target="_blank"> here</a>.
		</div>
		{{ content | md | safe }}
	</div>
</article>
