---
layout: main.njk
---

<article>
	<h1>Topics</h1>
	<div class="list-group">
		{% for topic in topics %}

			<a class="list-group-item list-group-item-action"
				 href="{{ topic.url }}">{{ topic.name }}
				<span class="badge bg-info">
					{{ topic.article_count }}
				</span>
			</a>
		{% endfor %}

	</div>
</article>